// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2020-2022 Silmates
 */

// Display timing for LP156WF1 panel 1920x1080p60. Standard: SMPTE 274M

&lvds_ti_sn65dsi84 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@2 {
			reg = <2>;

			lvds_out_panel_odd: endpoint {
				remote-endpoint = <&panel_in_odd>;
			};
		};

		port@3 {
			reg = <3>;

			lvds_out_panel_even: endpoint {
				remote-endpoint = <&panel_in_even>;
			};
		};
	};
};

&panel_lvds {
	compatible = "panel-lvds";
	backlight = <&backlight>;
	data-mapping = "jeida-18";
	height-mm = <198>;
	width-mm = <348>;
	status = "okay";

	panel-timing {
		clock-frequency = <138500000>;
		hactive = <1920>;
		vactive = <1080>;
		hsync-len = <32>;
		hfront-porch = <48>;
		hback-porch = <80>;
		vfront-porch = <9>;
		vback-porch = <23>;
		vsync-len = <5>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dual-lvds-odd-pixels;
			panel_in_odd: endpoint {
				remote-endpoint = <&lvds_out_panel_odd>;
			};
		};

		port@1 {
			reg = <1>;
			dual-lvds-even-pixels;
			panel_in_even: endpoint {
				remote-endpoint = <&lvds_out_panel_even>;
			};
		};
	};
};
